@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;400;500;600;700;800&family=Noto+Sans:wght@400;500;600;700;800&family=Nunito:wght@200&family=Playfair+Display:wght@400;600;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

#navbar{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;

}
svg{
    min-width:100%;
    /* max-height: 100%; */
    height: 100vh;
    z-index: 1;
    object-fit: contain;
    /* background-size: 100%; */
    /* position: relative; */
    /* opacity: 0; */
}

.bgimg{
    width: 100%;
    height: auto;
}

.bgimg img{
    width: 500px;
    height: 300px;
    z-index: -10;
    cursor: pointer;

}

.bgimg img:nth-child(1){
    position: absolute;
    top:0;
    left:0;
}
.bgimg img:nth-child(2){
    position: absolute;
    top:0;
    right:0;
}
.bgimg img:nth-child(3){
    position: absolute;
    bottom:0;
    left:0;
}
.bgimg img:nth-child(4){
    position: absolute;
    bottom:0;
    right:0;
}

.burgerMenu{
    position: absolute;
    top:5%;
    right: 5%;
    z-index: 99;

}

.burgerMenu div{
    margin-bottom: 4px;
    cursor: pointer;
    background: #000000;
    transition: 1s ease-in-out;
    
}

.burgerMenu div:nth-child(1){
    width: 30px;
    height: 3.5px;
}
.burgerMenu div:nth-child(2){
    width: 30px;
    height: 4px;
}
.burgerMenu div:nth-child(3){
    width: 30px;
    height: 4px;
}

.clicked div:nth-child(1) {
    width: 30px;
    height: 5px;
    transform: rotate(40deg);
    margin-top: 1.3rem;
}
.clicked div:nth-child(2) {
    opacity: 0;
}
.clicked div:nth-child(3) {
    width: 30px;
    height: 5px;
    margin-top: -1.65rem;
    transform: rotate(-42deg);
}

.imgContainer img {
    width: 100%;
    height: 275px;
    padding: .5rem;
}

.imgContainer{
    width: 100%;
    height: 100vh;
    position: absolute;
    background: #fff;
    top: 0;
    left: -150vw;
    transition: all 1s ease-in-out;
}


.open{
    position: absolute;
    background: #fff;
    top: 0;
    left: 0;
    transition: all 1s ease-in-out;
}
.imgContainer a{
    transition: .3s ease-in-out;
}

.imgContainer .wrapper{
    position: relative;
    
}

.imgContainer .text{
    width: 100%;
    opacity: 0;
    position: absolute;
    top:70%;
    text-align: center;
    transition: .3s ease-in-out;
}

.wrapper:hover img {
    opacity: 0.3;
    transition: .3s ease-in-out;
  }
  
.wrapper:hover .text {
    opacity: 1;
  }

  .text h3{
    font-size: 23px;
  }
  .text h6{
    font-size: 12.5px;
  }

@media only screen and (max-width:968px){
    .imgContainer .outerGrid{
        display: grid;
        place-items: center;
        grid-template-columns: 1fr 1fr;
        grid-row: auto;
        overflow-y: scroll;
        margin-top: 1em;
    }
    .imgContainer img{
        width: 100%;
    }
}
@media only screen and (max-width:578px){
    .imgContainer .outerGrid{
        display: grid;
        place-items: center;
        grid-template-columns: 1fr;
        grid-row: auto;
        overflow-y: scroll;
        margin-top: 1em;
    }
}